/************* Fonts *************/

/* montserrat-100 - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  src: url('./fonts/montserrat-v26-latin-100.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-300 - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/montserrat-v26-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/montserrat-v26-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-italic - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  src: url('./fonts/montserrat-v26-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/montserrat-v26-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-900 - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: url('./fonts/montserrat-v26-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color-50: #f0f9ff;
  --main-color-100: #e0f2fe;
  --main-color-300: #7dd3fc;
  --main-color-700: #0369a1;
}

html {
  font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: minmax(150px, 1fr) 4fr;
  grid-template-rows: 40px 1fr;
}

.header {
  background: var(--main-color-700);
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.sidebar {
  background: var(--main-color-50);
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.main-section {
  display: grid;
  align-items: start;
  grid-template-rows: 100px 1fr;
  margin: 2vw;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.side-container {
  display: grid;
  align-items: start;
}

.sidebar ul {
  display: flex;
  font-size: 1.25rem;
  font-weight: 600;
  flex-direction: column;
  list-style: none;
}

.sidebar ul > li {
  padding: 15px 10px;
  transition: transform 300ms ease;
}

.sidebar ul > li:hover {
  background: lightpink;
  transform: translate(5px);
}

.main-heading {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: baseline;
}

.main-heading-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.main-heading-date {
  color: rgb(77, 77, 77);
}

.today-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.days-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  height: 100vh;
}

.day {
  display: grid;
  justify-items: center;
  align-items: start;
  grid-template-rows: 65px 1fr;
  font-size: 1.25rem;
  font-weight: 600;
}

.add-task,
.add-project {
  display: grid;
  font-family: inherit;
  font-size: 1rem;
  font-weight: initial;
  background: none;
  border: 1px solid grey;
  border-radius: 10px;
  grid-template-columns: 24px 1fr;
  justify-items: start;
  align-items: baseline;
  gap: 3px;
  padding: 10px;
  width: minmax(100px, 100%);
  height: 60px;
}

.add-task-plus,
.add-project-plus {
  height: 24px;
  width: 24px;
  background-image: url('./images/plus-circle-outline.svg');
  background-size: cover;
}

.add-task:hover,
.add-project:hover {
  color: #444;
  outline: 2px solid var(--main-color-700);
  border-radius: 10px;
}

.add-task:hover > .add-task-plus,
.add-project:hover > .add-project-plus {
  background-image: url('./images/plus-circle.svg');
}

.add-task-form {
  display: grid;
  outline: 1px solid darkgrey;
  padding: 10px;
  border-radius: 10px;
  gap: 12px;
}

.add-task-form fieldset {
  display: grid;
  padding: 15px 25px;
}

legend {
  text-align: center;
}

.form-radio {
  display: flex;
  justify-content: space-between;
}

input,
textarea {
  font-family: inherit;
}

.project-list {
  align-self: center;
  padding-left: 30px;
}

.project-list-item div {
  display: grid;
  grid-template-columns: 2fr 1fr;
  font-size: 1rem;
}

.number {
  color: darkgrey;
}

.add-project-form {
  display: grid;
  outline: 1px solid darkgrey;
  padding: 10px;
  border-radius: 10px;
  gap: 12px;
}

form button {
  background: var(--main-color-700);
  color: white;
  padding: 5px;
  font-size: 1rem;
  font-family: inherit;
  border: none;
  border-radius: 10px;
  transition: transform 100ms linear;
}

form button:hover {
  transform: scale(1.03);
  box-shadow: 2px 2px 2px pink;
}

.task-container {
  display: grid;
  justify-items: center;
  padding: 10px;
  gap: 20px;
}

.task-card {
  display: grid;
  padding: 10px;
  font-size: 1rem;
  font-weight: normal;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  border: 1px solid black;
  border-radius: 10px;
  transition: transform 100ms ease;
}

.task-card:hover {
  box-shadow: 2px 2px lightpink;
  transform: scale(1.03);
}

.task-name-div {
  font-size: 1.25rem;
  font-weight: 700;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.check-off {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  justify-self: end;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  border: 1px solid black;
}

.check-off:hover {
  background-image: url('./images/check.svg');
}

.date-div {
  font-weight: 600;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.priority-div {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.part-of-project {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}
