/************* Fonts *************/

/* montserrat-100 - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  src: url('./fonts/montserrat-v26-latin-100.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-300 - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/montserrat-v26-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/montserrat-v26-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-italic - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  src: url('./fonts/montserrat-v26-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/montserrat-v26-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-900 - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: url('./fonts/montserrat-v26-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: minmax(150px, 1fr) 4fr;
  grid-template-rows: 40px 1fr;
}

.header {
  background: #0369a1;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.sidebar {
  background: #f0f9ff;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.main-section {
  margin: 2vw;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.sidebar ul {
  display: flex;
  font-size: 1.25rem;
  font-weight: 600;
  flex-direction: column;
  list-style: none;
  width: 100%;
}

.sidebar ul > li {
  padding: 15px 10px;
}

.sidebar ul > li:hover {
  background: lightpink;
}

.main-heading {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: baseline;
}

.main-heading-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.main-heading-date {
  color: rgb(77, 77, 77);
}

.days-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  height: 100vh;

}

.day {
  display: grid;
  grid-template-rows: 65px 1fr;
  font-size: 1rem;
  font-weight: 600;
}

.add-task, .add-project{
  display: grid;
  font-weight: initial;
  grid-template-columns: 24px 1fr;
  justify-items: start;
  align-items: baseline;
  gap: 3px;
  padding: 10px;
}

.add-task-plus, .add-project-plus{
  height: 24px;
  width: 24px;
  background-image: url('./images/plus-circle-outline.svg');
  background-size: cover;
}

.add-task:hover, .add-project:hover { 
  color: darkgrey;
  outline: 1px solid darkgrey;
  border-radius: 10px;
}

.add-task:hover > .add-task-plus, .add-project:hover > .add-project-plus {
  background-image: url('./images/plus-circle.svg');
}

.add-task-form {
  display: grid;
  outline: 1px solid darkgrey;
  padding: 10px;
  border-radius: 10px;
  gap: 12px;
}

.add-task-form fieldset {
  display: grid;
  padding: 15px 25px;
}

legend {
  text-align: center;
}

.form-radio {
  display: flex;
  justify-content: space-between;
}

.project-list {
  padding-left: 30px;
}

.project-list-item div {
  display: grid;
  grid-template-columns: 2fr 1fr;
  font-size: 1rem;
}

.number {
  color: darkgrey;
}
